// using https://colorhunt.co/palette/27282961677ad8d9dafff6e0.

$accent: #61677A;
$accent2: #FFF6E0;
$outline: #D8D9DA;
$background: #fff;
$text: #61677A;
$title: #000;

@import "../themes/ergo/sass/_ergo";